@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

nav {
	display: flex;
	background-color: rgb(0, 0, 0);
	justify-content: center;
	align-items: center;
	height: 65px;
}

.råvara-logo a {
	font-family: Impact, sans-serif;
	font-size: 35px;
	color: white;
	text-decoration: none;
}

nav ul a {
	text-decoration: none;
	color: white;
	transition: 0.3s linear;
}

.mobile-menu {
	display: none;
}

.menu {
	height: 65px;
	list-style: none;
	display: flex;
	flex: 100%;
	font-family: 'Ubuntu';
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	align-items: center;
	max-width: 1000px;
}

.menu-item {
	margin-left: 50px;
	text-align: center;
}

/* Den här stilregeln beskriver hur en länk ser ut i det menu-item som är active.*/
.menu-item.active a {
	color: rgb(255, 106, 0);
}

/* I den här stilregeln kan du sätta hover-utseende på länkarna i menyn.*/
nav ul a:hover {
	color: rgb(255, 106, 0);
}

.push-left {
	margin-right: auto;
	margin-left: 20px;
}

#mobile-menu-icon {
	margin-left: auto; /* gör att hamburgerikonen ligger så långt till höger som möjligt*/
	margin-right: 20px;
	display: none;
	color: white;
	transition: 0.3s linear;
}

#mobile-menu-icon:hover {
	color: rgb(83, 82, 82);
}

/*
  Den här media queryn bestämmmer hur sidan ser ut på skärmar
  som är mindre än 600px breda. Det vill säga de flesta mobiler i
  stående läge. 
*/
@media screen and (max-width: 600px) {
	#mobile-menu-icon {
	  display: block; /* visar hamburger-ikonen */
	}
  
	nav ul a {
	  display: none; /* döljer listan med de "vanliga" meny-länkarna */
	}
	
	img {
	  max-width: 90%;
	}
  
  }