@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

nav {
	display: flex;
	background-color: rgb(0, 0, 0);
	justify-content: center;
	align-items: center;
	height: 65px;
}

.råvara-logo {
	font-family: Impact, sans-serif;
	font-size: 35px;
	color: white;
}

nav a {
	text-decoration: none;
	color: white;
	transition: 0.3s linear;
}

.menu {
	height: 65px;
	list-style: none;
	display: flex;
	flex: 100%;
	font-family: 'Ubuntu';
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	align-items: center;
	max-width: 1000px;
}

.menu-item {
	margin-left: 50px;
	text-align: center;
}
.menu-item.active {
	height: 100%;
	background-color: white;
	display: flex;
}

/* Den här stilregeln beskriver hur en länk ser ut i det menu-item som är active.*/
.menu-item.active a {
	border-style: solid;
	border-color: white;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

/* I den här stilregeln kan du sätta hover-utseende på länkarna i menyn.*/
nav a:hover {
	color: rgb(83, 82, 82);
}

.push-left {
	margin-right: auto;
	margin-left: 20px;
}

#mobile-menu-icon {
	margin-left: auto; /* gör att hamburgerikonen ligger så långt till höger som möjligt*/
	margin-right: 20px;
	display: none;
	color: white;
	transition: 0.3s linear;
}

#mobile-menu-icon:hover {
	color: rgb(178, 220, 248);
}
