@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

header {
	background-color: black;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}
.navbar {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
	margin-left: auto;
	margin-right: auto;
}

.råvara-logo a {
	font-family: Impact, sans-serif;
	font-size: 2rem;
	text-decoration: none;
}
.nav-link {
	text-decoration: none;
	transition: 0.7s ease;
}

/* Den här stilregeln beskriver hur en länk ser ut i det menu-item som är active.*/
.nav-item.active a {
	color: rgb(255, 106, 0);
}

/* I den här stilregeln kan du sätta hover-utseende på länkarna i menyn.*/
.nav-link:hover {
	color: rgb(255, 106, 0);
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white
}
/*
  Den här media queryn bestämmmer hur sidan ser ut på skärmar
  som är mindre än 600px breda. Det vill säga de flesta mobiler i
  stående läge. 
*/
@media screen and (max-width: 768px) {
	.hamburger {
	  display: block; /* visar hamburger-ikonen */
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg)
	}
  
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: black;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.nav-item {
		margin: 16px 0;
	}

	.nav-menu.active {
		left: 0;
	}
  }